@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:linear-gradient(135deg,#2563EB,#0EA5E9);

min-height:100vh;

display:flex;
justify-content:center;
align-items:center;
padding:30px;

}

.auth-container{

width:100%;
max-width:1100px;

background:white;

border-radius:25px;

overflow:hidden;

display:grid;

grid-template-columns:1fr 1fr;

box-shadow:0 15px 40px rgba(0,0,0,.15);

}

.left-panel{

background:linear-gradient(180deg,#1D4ED8,#2563EB);

color:white;

padding:60px 40px;

display:flex;
flex-direction:column;
justify-content:center;

}

.left-panel h1{

font-size:38px;
margin-bottom:20px;

}

.tagline{

line-height:1.8;
margin-bottom:30px;

}

.points{

list-style:none;

}

.points li{

margin:15px 0;
font-size:17px;

}

.right-panel{

padding:50px 40px;

display:flex;
align-items:center;
justify-content:center;

}

.form-box{

width:100%;

max-width:360px;

}

.form-box h2{

font-size:32px;
color:#1D4ED8;
margin-bottom:10px;

}

.form-box p{

color:#64748B;
margin-bottom:25px;

}

label{

display:block;
margin-top:15px;
margin-bottom:8px;
font-weight:500;

}

input{

width:100%;
padding:15px;
border:2px solid #CBD5E1;
border-radius:12px;
font-size:15px;
outline:none;

}

input:focus{

border-color:#2563EB;

}

button{

width:100%;
margin-top:25px;
padding:15px;

background:#2563EB;

color:white;

border:none;
border-radius:12px;

font-size:16px;
font-weight:600;

cursor:pointer;

transition:.3s;

}

button:hover{

background:#1D4ED8;

}

.bottom-text{

margin-top:20px;
text-align:center;
font-size:14px;

}

.bottom-text a{

color:#2563EB;
font-weight:600;
text-decoration:none;

}

@media(max-width:850px){

.auth-container{

grid-template-columns:1fr;

}

.left-panel{

text-align:center;

}

}